Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a = "Lokesh"
b = [22,3.7,"Lokesh",56]
c = 3.1456
d = (3,5,7)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [15]:
var1 = ""
var2 = "['DS', 'ML', 'Python']"
var3 = ["DS", "ML", "Python"]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [16]:
a = 5
b = 2

# Division
c = a / b
print(c)    # Output: 2.5

# Modulus
d = a % b
print(d)    # Output: 1

# Floor division
e = a // b
print(e)    # Output: 2

# Exponentiation
f = a ** b
print(f)    # Output: 25

2.5
1
2
25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
my_list = [1, "Hello", True, 3.14, [1, 2, 3], {"name": "Lokesh"}, (1, 2, 3), 42, None, "Ayush"]
for i in my_list:
    print(f" {i} :-    Data Type: {type(i)}")

 1 :-    Data Type: <class 'int'>
 Hello :-    Data Type: <class 'str'>
 True :-    Data Type: <class 'bool'>
 3.14 :-    Data Type: <class 'float'>
 [1, 2, 3] :-    Data Type: <class 'list'>
 {'name': 'Lokesh'} :-    Data Type: <class 'dict'>
 (1, 2, 3) :-    Data Type: <class 'tuple'>
 42 :-    Data Type: <class 'int'>
 None :-    Data Type: <class 'NoneType'>
 Ayush :-    Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
def is_divisible(a, b):
    count = 0
    while a % b == 0:
        count += 1
        a //= b
    return count


a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

number_of_times_divisible = is_divisible(a, b)

if number_of_times_divisible > 0:
    print(f"The number {a} is divisible by {b} {number_of_times_divisible} times.")
else:
    print(f"The number {a} is not divisible by {b}.")

Enter the first number:  22
Enter the second number:  10

The number 22 is not divisible by 10.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for num in nums:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [1]:
# Mutable data type
list1 = [1, 2, 3]

# Change the value of the first element in the list
list1[0] = 4

print(list1)    # Output: [4, 2, 3]

# Immutable data type
str1 = "Hello, world!"

# Trying to change the value of the first character in the string will raise an error
str1[0] = "H"

[4, 2, 3]

TypeError: 'str' object does not support item assignment