Q1. List any five functions of the pandas library with execution.

In [11]:
import pandas as pd
print(''' read_csv(): This function is used to read a CSV (Comma Separated Values) file and return a DataFrame 
''')
data = {"Name": ['Lokesh','Ayush','Sahas','Vaibhav'],
       "Age":[20,21,20,20],
       "Id_No":[110,120,130,140]
       }
df = pd.DataFrame(data)
df.to_csv("Data1.csv",index = False)
df1 = pd.read_csv("Data1.csv")
print(df1,"\n")


print(''' describe(): This function is used to generate descriptive statistics about a DataFrame, including count, mean, standard deviation, 
minimum, and maximum values. 
''')
print(df1.describe(),"\n")

print(''' groupby(): This function is used to group a DataFrame by one or more columns and perform aggregation operations on the groups. 
''')
grouped = df1.groupby('Name')['Age'].mean()
print(grouped,"\n")

print('''pivot_table(): This function is used to create a pivot table from a DataFrame.
''')
pivot = pd.pivot_table(df1, values='Age', index='Id_No', columns='Name')
print(pivot,"\n")

print('''merge(): This function is used to merge two or more DataFrames based on a common column. 
''')

data1= {"Name": ['Akshata','Shunai','Rupali','Vaishanv'],
       "Age":[20,19,20,19],
       "Id_No":[150,160,170,180]
       }
df2 = pd.DataFrame(data1)
df2.to_csv("Data2.csv")
df3 = pd.read_csv("Data2.csv")
merged = pd.merge(df1,df3,on='Id_No')
print(merged,"\n")

 read_csv(): This function is used to read a CSV (Comma Separated Values) file and return a DataFrame

      Name  Age  Id_No
0   Lokesh   20    110
1    Ayush   21    120
2    Sahas   20    130
3  Vaibhav   20    140

 describe(): This function is used to generate descriptive statistics about a DataFrame, including count, mean, standard deviation,
minimum, and maximum values.

         Age       Id_No
count   4.00    4.000000
mean   20.25  125.000000
std     0.50   12.909944
min    20.00  110.000000
25%    20.00  117.500000
50%    20.00  125.000000
75%    20.25  132.500000
max    21.00  140.000000

 groupby(): This function is used to group a DataFrame by one or more columns and perform aggregation operations on the groups.

Name
Ayush      21.0
Lokesh     20.0
Sahas      20.0
Vaibhav    20.0
Name: Age, dtype: float64

pivot_table(): This function is used to create a pivot table from a DataFrame.

Name   Ayush  Lokesh  Sahas  Vaibhav
Id_No
110      NaN    20.0    NaN      NaN
120     21.0     NaN    NaN      NaN
130      NaN     NaN   20.0      NaN
140      NaN     NaN    NaN     20.0

merge(): This function is used to merge two or more DataFrames based on a common column.

Empty DataFrame
Columns: [Name_x, Age_x, Id_No, Unnamed: 0, Name_y, Age_y]
Index: []

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [12]:
def reindex(a):
    new_index = pd.RangeIndex(start = 1,stop = len(a)+1 ,step =2)
    re_index = df.reindex(new_index)
    return re_index

data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
df = pd.DataFrame(data)
rep_index = reindex(df)

print(rep_index)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [13]:
def sum_three(df):
    sum = df.head(3).sum()
    print(sum)
data ={ "Values": [10, 20, 30, 40, 50]}
df  = pd.DataFrame(data)
sum_row_data = sum_three(df)

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [14]:
pd.set_option("display.max_colwidth",500)
df3 = pd.DataFrame({"Text":["Data science master class is very importanten for all data engineers","my name is lokesh","i also study data science"]})
df3['len'] = df3['Text'].apply(len)
df3["Word_count"] = df3["Text"].apply(lambda x:len(x.split()))
df3

,Text,len,Word_count
0,Data science master class is very importanten for all data engineers,68,11
1,my name is lokesh,17,4
2,i also study data science,25,5

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [15]:
print('''    DataFrame.size:
        This attribute returns the total number of elements in the DataFrame. It is essentially the product of the number of rows and 
        the number of columns. For instance, if a DataFrame has 10 rows and 5 columns, DataFrame.size will return 50.
        It is a single integer value representing the total count of elements.

    DataFrame.shape:
        This attribute returns a tuple representing the dimensionality of the DataFrame. The tuple contains two elements: 
        the number of rows and the number of columns, in that order. For example, if a DataFrame has 10 rows and 5 columns, 
        DataFrame.shape will return (10, 5).It provides a clearer picture of the structure of the DataFrame by separately 
        indicating the number of rows and columns. 
        
        ''')

    DataFrame.size:
        This attribute returns the total number of elements in the DataFrame. It is essentially the product of the number of rows and
        the number of columns. For instance, if a DataFrame has 10 rows and 5 columns, DataFrame.size will return 50.
        It is a single integer value representing the total count of elements.

    DataFrame.shape:
        This attribute returns a tuple representing the dimensionality of the DataFrame. The tuple contains two elements:
        the number of rows and the number of columns, in that order. For example, if a DataFrame has 10 rows and 5 columns,
        DataFrame.shape will return (10, 5).It provides a clearer picture of the structure of the DataFrame by separately
        indicating the number of rows and columns.

Q6. Which function of pandas do we use to read an excel file?

In [16]:
print(''' To read an Excel file into a pandas DataFrame, you use the pandas.read_excel() function. This function can read data from various 
Excel file formats (e.g., .xlsx, .xlsm, .xlsb, .xls) into a pandas DataFrame. Here's a basic example of how to use it:

df = pd.read_excel('path_to_file.xlsx')''')

 To read an Excel file into a pandas DataFrame, you use the pandas.read_excel() function. This function can read data from various
Excel file formats (e.g., .xlsx, .xlsm, .xlsb, .xls) into a pandas DataFrame. Here's a basic example of how to use it:

df = pd.read_excel('path_to_file.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [17]:

import pandas as pd
def username(df):
    df['Username'] = ' '
    for  index ,row in df.iterrows():
        username = row['Email'].split('@')[0]
        df.at[index,'Username'] = username
    return df
data = {'Email': ['john.doe@example.com', 'lokesh.mendke @example.com', 'jim.brown@example.com']}
df = pd.DataFrame(data)
df = username(df)
print(df)

                        Email        Username
0        john.doe@example.com        john.doe
1  lokesh.mendke @example.com  lokesh.mendke
2       jim.brown@example.com       jim.brown

You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2


Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [18]:
def  selected_rows(df):
    selected_data = df[(df['A']>5 ) & (df['B']<10)]
    return selected_data

data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
selected_rows = selected_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [19]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return {'mean': mean, 'median': median, 'std': std}

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
stats = calculate_stats(df)
print(stats)

{'mean': 30.0, 'median': 30.0, 'std': 15.811388300841896}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [23]:
def moving_average(df):
    df['MovingAverage'] = 0.0
    for index,row in df.iterrows():
        window =df.iloc[max(0,index - 6):index+1]['Sales']
        moving_average = np.mean(window)
        df.at[index, 'MovingAverage'] = moving_average
    
    return df
data = {'Date': pd.date_range(start='2022-01-01', end='2022-01-10'), 'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data)
df = moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [25]:
def weekday_column(df):
    df['Weekday'] = ''
    for index, row in df.iterrows():
        date = row['Date'].to_pydatetime()
        weekday = date.strftime('%A')
        df.at[index, 'Weekday'] = weekday
    return df
data = {'Date': pd.date_range(start='2023-01-01', end='2023-01-05')}
df = pd.DataFrame(data)
df = weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

/tmp/ipykernel_97/548019602.py:8: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  for index, row in df.iterrows():

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
def select_date_range(df):
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-01')}
df = pd.DataFrame(data)
selected_rows = select_date_range(df)
print(selected_rows)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [27]:
print(''' The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas.
Here's an example of how to import it:

import pandas as pd''')

 The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas.
Here's an example of how to import it:

import pandas as pd