Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

data = [4,8,15,16,23,42]
series  = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data = list(range(1,11))
series =  pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
data = {'Name':["Alice","Bob","Claire"],
       'Age':[25,30,27],
       'Gender':["Female","Male","Female"]}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [10]:
print('''A DataFrame in pandas is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).
It is one of the most commonly used pandas data structures and is ideal for representing real-world data with rows and columns.
For instance, you can think of it as a spreadsheet or SQL table, or a dict of Series objects. DataFrame provides a variety of 
functionalities to easily import, clean, analyze, and visualize data.

On the other hand, a Series in pandas is a one-dimensional array-like object containing a sequence of values (similar to a numpy array)
and an associated array of data labels, called its index. A Series can be thought of as a single column of data.
Differences between DataFrame and Series:

    Dimensionality:
    The key difference is in their dimensionality. A Series is one-dimensional, suitable for storing and manipulating a single column of data.
    A DataFrame, however, is two-dimensional, suitable for storing and manipulating data in a tabular format with rows and columns.
    
    Data Types:
    A Series can only contain a single data type for its entire set of values, while a DataFrame can hold multiple data types; 
    each column in a DataFrame can have its own data type.

Example:

Consider a dataset of two columns and three rows. One column for names ("Name") and another for ages ("Age") 

''')

age_series = pd.Series([25, 30, 35], name="Age")

data = {
    "Name": ["Lokesh", "Mendke", "Peter"],
    "Age": [25, 30, 35]
}
df = pd.DataFrame(data)
df

A DataFrame in pandas is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).
It is one of the most commonly used pandas data structures and is ideal for representing real-world data with rows and columns.
For instance, you can think of it as a spreadsheet or SQL table, or a dict of Series objects. DataFrame provides a variety of
functionalities to easily import, clean, analyze, and visualize data.

On the other hand, a Series in pandas is a one-dimensional array-like object containing a sequence of values (similar to a numpy array)
and an associated array of data labels, called its index. A Series can be thought of as a single column of data.
Differences between DataFrame and Series:

    Dimensionality:
    The key difference is in their dimensionality. A Series is one-dimensional, suitable for storing and manipulating a single column of data.
    A DataFrame, however, is two-dimensional, suitable for storing and manipulating data in a tabular format with rows and columns.

    Data Types:
    A Series can only contain a single data type for its entire set of values, while a DataFrame can hold multiple data types;
    each column in a DataFrame can have its own data type.

Example:

Consider a dataset of two columns and three rows. One column for names ("Name") and another for ages ("Age")

     Name  Age
0  Lokesh   25
1  Mendke   30
2   Peter   35

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
print('''    head() and tail(): Used to quickly check the first few or last few rows of the DataFrame. This is especially useful for getting 
a quick sense of the data, particularly its structure and a few samples.

    describe(): 
    Provides summary statistics of the numeric columns in the DataFrame. This is useful for a quick analysis of the distribution, count, mean, and 
    quartiles of numeric data.

    info():
    Gives a concise summary of a DataFrame. This function is useful for getting an overview of the DataFrame, including the number of entries,
    the data type of each column, and the number of non-null values.

    drop():
    Removes specified labels from rows or columns. This is useful when you need to drop irrelevant or unnecessary columns or rows based on certain 
    conditions.

    fillna():
    Fills NA/NaN values with a specified value. This is particularly useful in data cleaning, where you want to replace missing values with a mean, 
    median, or a specific value.

    apply():
    Applies a function along an axis of the DataFrame. This is useful for applying a custom function or performing an operation across all 
    elements in a column or row.

    groupby():
    Groups DataFrame using a mapper or by a series of columns. This is extremely useful for aggregate operations (such as sum, mean, etc.)
    grouped by some category.

    merge(), join(), and concat(): 
    Used for combining different DataFrames or Series in various ways. This is useful when you have data spread across multiple DataFrames and
    you want to combine them into a single DataFrame for analysis.

    sort_values(), sort_index():
    Sorts the data by the values along either axis. This is useful when you want to order your data by certain values or reset the index 
    of the DataFrame.

    unique() and nunique(): 
    Useful for finding unique values or the number of unique values in a Series. This can help in understanding the diversity of the 
    data in a particular column.
    
    
    ''')

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
print('''All three pandas data structures—Series, DataFrame, and Panel—are mutable in nature. This means that their contents (values) can
be modified after they have been created. You can change individual elements, add new columns or rows, and even remove existing ones.

However, 
it's worth noting that the Panel data structure has been deprecated since pandas 0.20.0 and removed in later versions, as MultiIndex DataFrames 
(dataframes with hierarchical indexing) and xarray objects are recommended for 3D data or n-dimensional data representation.
Despite this, when Panel was still in use, it was also mutable like Series and DataFrame.

So, to directly answer the question: Series, DataFrame, and Panel (when it was still part of pandas) are all mutable in nature.

''')

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Create two Series
names = pd.Series(["Alice", "Bob", "Charlie"], name="Name")
ages = pd.Series([25, 30, 35], name="Age")

# Create a DataFrame by combining the Series
df = pd.DataFrame({"Name": names, "Age": ages})

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35