Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [8]:
cricket = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sort = sorted(cricket , key= lambda x: x[1])

for  name,runs in sort:
    print("The player",name,"scored",runs,"runs")

The player Virat Kohli scored 24936 runs
The player Jack Kallis scored 25534 runs
The player Ricky Ponting scored 27483 runs
The player Sachin Tendulkar scored 34357 runs

Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list = []
for i in l:
    i = i**2
    list.append(i)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x: str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [12]:
from functools import reduce
l=[]
for i in range(1,26):
    l.append(i)
print(l)
product = reduce(lambda x,y: x*y,l)
print(f"The product of 1 to 25",{product})

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
The product of 1 to 25 {15511210043330985984000000}

Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [23]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
A = list(filter(lambda x :  x%2==0 and x%3==0 ,l ))
print("Numbers divisible by 2 and 3:",A)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [26]:
l = ['python', 'php', 'aba', 'radar', 'level']

palindromes = (filter(lambda x : x == x[::-1],l))

print("The palidromes string  in the list is :",palindromes)

The palidromes string  in the list is : <filter object at 0x7f4095d65000>